{% extends 'parent.html.twig' %}

{# 
le template enfant ne fait que remplir 
des blocks definis par le parent
#}

{% block titre1 %}
<h1>Accueil du site</h1>
{% endblock %}

{% block titre2 %}
<h1>Vous souhaitez faire du sport ?</h1>
{% endblock %}

{% block commentaire1 %}
<p>Oui, mais ...</p>
<p>- Vous manquez de volonté,</p>
<p>- Vous êtes nouveaux dans votre région et vous n'avez pas encore d'amis ?</p>
<p>- Vous ne connaissez pas les bons endroits, les bonnes salles,</p>
<p>- Vous n'avez pas de moyen de locomotion ?</p>

<p><span>Alors, vous êtes au bon endroit.</span></p>
<p>Notre application et ses adhérents vont essayer de répondre à toutes vos questions</p>
{% endblock %}

{% block photo1 %}
<img src="{{ asset('images/image.PNG') }}" alt="photo1">

<img src="{{ asset('images/image.PNG') }}" alt="photo2">

{% endblock %}

  {% block formulaire %}          
  {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    <div class="{{ classConfirmation ?? 'gris' }}">{{ messageConfirmation ?? "texte par défaut" }}</div>
{{ form_end(form) }}
{% endblock %}

