<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Projet Symfony</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    {% block carte1 %}
    {% endblock %}

</head>
<body>
    <header>
        <nav>
            <a href="{{ path('index') }}">accueil</a>
            <a href="{{ path('galerie') }}">galerie</a>
            <a href="{{ path('contact') }}">contact</a>
        </nav>
    </header>
    <main>
        <section>
            {% block titre1 %}
            <h1>Site Web</h1>
            {% endblock %}
            {% block titre2 %}
            <h1>Le sous-titre du site</h1>
            {% endblock %}

            {% block commentaire1 %}
            
            {% endblock %}


            {% block photo1 %}
            {% endblock %}

            {% block formulaire %}
            {% endblock %}

            {% block carte2 %}
            {% endblock %}


        </section>
    </main>
    <footer>
        <p>tous droits réservés</p>
    </footer>
    <script src="{{ asset('js/script.js') }}"></script>
</body>
</html>